#define hello3 hal3
type hal3_hello_hwservice, hwservice_manager_type;

hal_attribute(hello3)

binder_call(hal_hello_client, hal_hello_server)
binder_call(hal_hello_server, hal_hello_client)

add_hwservice(hal_hello_server, hal3_hello_hwservice)
allow system_app hal3_hello_hwservice:hwservice_manager find;

allow helloapp3_service hal_hello_hwservice:hwservice_manager find;
allow helloapp3_service hello:binder { call transfer };


